---


---

<style>
  h1 {
    margin-bottom: var(--space-triple);
    color: var(--dark-color);
    font-size: 6.4rem;
    line-height: 5.3rem;
    font-family: var(--font-family-sans-condextrabold);
    text-transform: uppercase;
  }
  .hero{
    color: var(--dark-color);
    font-size: 3.2rem;
    font-family: var(--font-family-sans);
    line-height: 3.6rem;
    margin-bottom: var(--space-triple);
  }
  .copy-first {
    margin-bottom: var(--space-double);
  }
  .copy-second {
    margin-bottom: var(--space-double);
  }
</style>


<h1>BRIAN HINTON</h1>
<p class="hero">
  Designer leading teams that are creating good experiences for e-commerce content management, and building accessible interfaces. I aim to make digital products usable for everyone.
</p>

<p class="copy-first">
  I’m the design manager at{' '}
    <a
      className="link"
      href="https://www.webstaurantstore.com/careers/"
      target="_blank"
      rel="noreferrer"
    >
      WebstaurantStore</a>,
where I spend my time coordinating the development of our platform’s design systems, leading the accessibility charge, and helping my team grow individually and as a group.
</p>

<p class="copy-second">
  On the side, I’m a host on the show{' '}
  <a href="https://thundernerds.io"
     className="link"
     target="_blank"
     rel="noreferrer">
    Thunder Nerds</a>,
  a livestream and podcast where we interview people from all
  aspects of technology to find out their stories, and to share their
  life lessons with others. I also run{' '}
  <a href="https://friends.figma.com/tampa-bay/"
     target="_blank"
     className="link"
     rel="noreferrer">
    Friends of Figma, Tampa Bay</a>{' '}
  where I help connect Figma users in the area and around the world.
</p>
